
#auth
JWT_ACCESS_TOKEN_SECRET=jsonwebtoken_secret_accesstoken_key_@2026
JWT_REFRESH_TOKEN_SECRET=jsonwebtoken_secret_refresh_token_key_@2026

#env
NODE_ENV=development

#DB config for docker
DB_USER=postgres
DB_PASSWORD=postgres
DB_HOST=postgres
DB_PORT=5432
DB_NAME=chatapp